[Desktop Entry]
Name=Thunderbird
Comment=Send and receive mail with Thunderbird
Comment[fr]=Lire et écrire des courriels
GenericName=Mail Client
GenericName[fr]=Client de messagerie
Exec=thunderbird %u
Terminal=false
Type=Application
Icon=thunderbird
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;application/x-xpinstall;
StartupNotify=true
Actions=ComposeMessage;OpenAddressBook;
X-XFCE-Source=file:///usr/share/applications/thunderbird.desktop

[Desktop Action ComposeMessage]
Name=Write new message
Name[fr]=Rédiger un nouveau message
Exec=thunderbird -compose

[Desktop Action OpenAddressBook]
Name=Open address book
Name[fr]=Ouvrir un carnet d'adresses
Exec=thunderbird -addressbook
